<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>UEM | Roberto Marco WebApp</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/custom.css">
        <script src="bower_components/modernizr/modernizr.js"></script>
        <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?v=3&sensor=false"></script>

        <script id="page-country-list" type="text/template">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <h2 class="text-center">Select a region</h2>
                <select id="region" class="form-control">
                  <option>Africa</option>
                  <option>Americas</option>
                  <option>Asia</option>
                  <option>Europe</option>
                  <option>Oceania</option>
                </select>

                <hr>

                <div id="countries" class="list-group"></div>

              </div>
            </div>
          </div>
        </script>

        <script id="page-country" type="text/template">
          <div class="container">
            <div class="row">          
              <div class="col-xs-4">Name:</div>
              <div class="col-xs-8"><b><%= name %></b></div>

              <div class="col-xs-4">Capital: </div>
              <div class="col-xs-8"><b><%= capital %></b></div>

              <div class="col-xs-4">Population: </div>
              <div class="col-xs-8"><b><%= population %></b></div>
            </div>            

            <hr >

            <div class="row">
              <div class="col-xs-12">
                <iframe src="http://maps.google.com/?q=<%= latlng[0] %>,<%=latlng[1] %>&output=embed" frameBorder="0"></iframe>
              </div> 
            </div>
          </div>
        </script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

      <!-- NAVBAR
      ================================================== -->
      <div class="navbar-wrapper">
        <div class="container">          
          <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
              <div class="navbar-header">                
                <a id="brand" class="navbar-brand" href="#">ClickChic</a>
              </div>              
            </div>
          </div>
        </div>
      </div>
      
      <!-- VIEWS CONTAINER
      ================================================== -->
      <div id="views">
      </div>
     
      <!-- LOADING SCRIPTS
      ================================================== -->
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
      <script>window.jQuery || document.write('<script src="bower_components/jquery/dist/jquery.min.js"><\/script>')</script>
      <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>   
      <script src="bower_components/underscore/underscore.js"></script>
      

      <script>
        $(function(){
          $(window).on("hashchange", function(event) {
            var hash = document.location.hash;            

            if (/country/.test(hash)) {
              
              var country_code = hash.split("-")[1];

              $.ajax({
                url: "http://restcountries.eu/rest/v1/callingcode/" + country_code,
                type: "GET",
                dataType: "json",
                success: function(data, textStatus, xhr) {
                  console.log(data);
                  country = data[0];
                  var compiled = _.template($("#page-country").html());
                  $("#views").html(compiled(country));

                  $("#brand").text("Back");
                }
              });

            } else {

              // Inflate country-list into views before ajax request because 
              //  we need to populate the selected option
              var compiled = _.template($("#page-country-list").html());
              $("#views").html(compiled());

              $("#brand").text("Countries")

              $("select#region")
                .change(function(){
                  var region = $("select#region option:selected").text();          
                  $.ajax({
                    url: "http://restcountries.eu/rest/v1/region/" + region,
                    type: "GET",
                    dataType: "json",
                    success: function(data,textStatus, xhr) {                      
                      console.log("Region selected: " + region);
                      console.log(data);

                      $("#countries").empty();

                      var countries_selector = $("div#countries");
                      _.each(data, function(country){                        
                        var code = country.callingCodes;
                        var name = country.name;
                        countries_selector.append("<a href='#country-"+ code + "' class='list-group-item'>"+ name +"</a>");  
                      });
                    }
                  });
                })
                .change();
            }
          });
          $(window).trigger("hashchange");        
        });
        
      </script>
      
    </body>
</html>
